{
	# Global options block
	auto_https off
}

:9092 {
	# Serve files from the directory specified by WHATCD_RESOLVER_TRANSMISSION_DOWNLOAD_DIRECTORY
	handle_path /files/* {
		root * {env.WHATCD_RESOLVER_TRANSMISSION_DOWNLOAD_DIRECTORY}
		file_server {
			browse off
		}
	}

	# Reverse proxy from localhost:9092 to localhost:9093
	reverse_proxy * localhost:9093
}
