lang {
  builtins "unsafeGetAttrPos" "intersectAttrs" "listToAttrs"
}

environment {
  work-dir "/pwd/lang"

  fixtures {
    file "foo.nix" content="{ y = \"x\"; }"
  }
}

runtime-opts {
  eval-strict
}
